</div>
<footer class="footer" id="contacts">
    <div class="block_inner">
        <div class="footer_top">
            <div class="left_top">
                <div class="title">Kontaktdaten</div>
                <div class="contacts">
                    <div class="email"><a href="mailto: office@eremion.md"> office@eremion.md</a></div>
                    <div class="address">Am Zirkus 3, 10117 Berlin</div>
                    <div class="phone_tg"><a href="tel:+373 690 325 13">I & I Business Solution</a></div>
                </div>
                <div class="btns">
                    <div class="btn_button type2">ZU DEN PRICE</div>
                    <div class="btn_button">TERMIN</div>
                </div>
            </div>
            <div class="map">
                <iframe width="100%" height="281px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?q=MD-2023%2C%20str.%20Uzinelor%2C%2021%2C%20Chi%C8%99in%C4%83u%2C%20Moldova&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">ii-bis(C). All Rights Reserved. 2025</div>
        </div>
    </div>
</footer>
</div>
<div class="remodal" data-remodal-id="callback-form-main">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__body">
            <form>
                <div class="popup-form__title">Contactaţi-ne</div>
                <div class="field">
                    <input type="text" placeholder="Ваша почта">
                </div>
                <div class="field">
                    <textarea name="" placeholder="Сообщение" id=""></textarea>
                </div>
                <div class="submit-button">
                    <input type="submit" value="Отправить" class="btn_button">
                </div>
                <div class="field checkbox">
                    <label>
                        <input type="checkbox" checked>
                        <i></i>
                        <span>Согласие на обработку <a href="#">персональных данных</a></span>
                    </label>
                </div>
                <div class="popup-form-thanks">
                    <div class="popup-form-thanks_title">Ваша заявка принята!</div>
                    <div class="popup-form-thanks_body">Мы свяжемся с вами в ближайшее время.</div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/lightgallery-all.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>