<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css" integrity="sha512-nF9G9AnUEVv+zx285OqwGE8c1gmkys3qV6iuDK5rVG/UuZLWRgGBy/tN5WzSXXuZDZ1YvwhJ9+a/DTj71L8Lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/lightgallery.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="icon" href="files/eremon.ico" sizes="32x32">
</head>

<body>
    <div class="menu_burger">
        <div class="menuClose"></div>
        <div class="menu_scroll">
            <div class="menu_top anchor_menu">
                <ul>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#service">Услуги</a></li>
                    <li><a href="">Termin</a></li>
                    <li><a href="#" data-remodal-target="price-modal-main">Price</a></li>
                    <li><a href="#vacans">Вакансии</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site_wrapper">
        <header class="header">
            <div class="header_inner">
                <div class="block_inner">
                    <div class="header_top">
                        <div class="logo">
                            <a href="">
                                <img src="img/logo.svg" alt="">
                            </a>
                        </div>
                        <div class="top_menu_header anchor_menu">
                            <ul>
                                <li><a href="#about">О нас</a></li>
                                <li><a href="#service">Услуги</a></li>
                                <li><a href="">Termin</a></li>
                                <li><a href="#" data-remodal-target="price-modal-main">Price</a></li>
                                <li><a href="#" data-remodal-target="vacans-modal-main">Вакансии</a></li>
                                <li><a href="#contacts">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="phone_tg"><a href="tel:+373 690 325 13">I & I Business Solution</a></div>
                        <div class="email"><a href="mailto: office@eremion.md"> office@eremion.md</a></div>
                        <div class="lang_block">
                            <div class="lang_block_inner">
                                <div class="dropdown-item-current">de</div>
                                <div class="inner">
                                    <a href="" class="dropdown-item">Рус</a>
                                    <a href="" class="dropdown-item">Eng</a>
                                </div>
                            </div>
                        </div>
                        <div class="burger"><span></span></div>
                    </div>
                    <div class="header_text">
                        <h1>Deutsche Buchhaltung mit europäischem Netzwerk</h1>
                        <div class="text">Teil eines maltesischen Finanzholdings. Lokale und grenzüberschreitende Lösungen für KMU, Start-ups und Selbstständige.</div>
                        <div class="btns">
                            <div class="btn_button type2"  data-remodal-target="price-modal-main">ZU DEN PRICE</div>
                            <div class="btn_button">TERMIN</div>
                        </div>
                    </div>
                    <div class="header_items">
                        <div class="item" data-remodal-target="item-modal-main1">
                            <div class="item_top">
                                <div class="icon">
                                    <img src="files/i1.svg" alt="">
                                </div>
                                <div class="name">Steuerliche und buchhalterische Betreuung</div>
                            </div>
                            <div class="text">Umfassende Betreuung: laufende Buchführung, Umsatzsteuervoranmeldungen ...</div>
                            <div class="link">
                                <a href="">Mehr erfahren</a>
                            </div>
                        </div>
                        <div class="item" data-remodal-target="item-modal-main1">
                            <div class="item_top">
                                <div class="icon">
                                    <img src="files/i2.svg" alt="">
                                </div>
                                <div class="name">Firmengründung</div>
                            </div>
                            <div class="text">GmbH oder UG an einem Tag, Freiberufler-Status in einer Stunde. Inklusive Steuer-IDs, Notar und Bankkonto. ...</div>
                            <div class="link">
                                <a href="">Mehr erfahren</a>
                            </div>
                        </div>
                        <div class="item" data-remodal-target="item-modal-main1">
                            <div class="item_top">
                                <div class="icon">
                                    <img src="files/i3.svg" alt="">
                                </div>
                                <div class="name">Digitalisierung der Buchhaltung & Bankintegration</div>
                            </div>
                            <div class="text">Aufbau eines digitalen Buchhaltungs-Ökosystems: Bankintegration, Dokumentenupload, Prüfung  ...</div>
                            <div class="link">
                                <a href="">Mehr erfahren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content_block_wr">