include _header.jade
    <div class="lies_block_wr" id="service">
        <div class="block_inner">
            <h2 class="title">Unsere leistungen</h2>
            <div class="inner">
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li1.svg" alt="">
                        </div>
                        <div class="name">Buchhaltung & Jahresabschluss</div>
                    </div>
                    <div class="text">Laufende Buchführung, Jahresabschluss, Nachbuchung vergangener Perioden und steuerliche Optimierung ...</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li2.svg" alt="">
                        </div>
                        <div class="name">Lohn- und Gehaltsabrechnung</div>
                    </div>
                    <div class="text">Komplettservice: Lohnabrechnung, Sozialabgaben, Urlaub, Krankheit – rechtlich korrekt und vertraulich ...</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li3.svg" alt="">
                        </div>
                        <div class="name">Berichte & Dokumente</div>
                    </div>
                    <div class="text">Erstellung von BWA, SUSA, Finanzanalysen und Berichten für interne und externe Zwecke. ..</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li4.svg" alt="">
                        </div>
                        <div class="name">Internationale Transaktionen & Steuerstrukturierung</div>
                    </div>
                    <div class="text">Beratung und Begleitung grenzüberschreitender Geschäfte und  ...</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li5.svg" alt="">
                        </div>
                        <div class="name">M&A-Transaktionen & Due Diligence</div>
                    </div>
                    <div class="text">Finanz- und Steuerprüfung, Vertragsstrukturierung, Risikoanalyse und Post-Merger-Integration ...</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li6.svg" alt="">
                        </div>
                        <div class="name">Fördermittel & Innovationen</div>
                    </div>
                    <div class="text">Prüfung von Fördermöglichkeiten in Deutschland und auf Malta, Dokumentenerstellung und Verhandlungen ...</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li7.svg" alt="">
                        </div>
                        <div class="name">Zusätzliche Leistungen</div>
                    </div>
                    <div class="text">Migration von anderen Systemen, dreisprachige Unterstützung, individuelle Buchungsschemata, Dokumentation u ..</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <div class="item" data-remodal-target="lies-modal-main1">
                    <div class="item_top">
                        <div class="icon">
                            <img src="files/li8.svg" alt="">
                        </div>
                        <div class="name">Abschnitt: Fördermittel & Innovationen</div>
                    </div>
                    <div class="text">Wir begleiten Unternehmen bei der Beantragung staatlicher Fördermittel – sowohl in Deutschland</div>
                    <div class="link">
                        <a href="">Mehr erfahren</a>
                    </div>
                </div>
                <a href="" class="all_btn" data-remodal-target="price-modal-main">ZU DEN PRICE</a>
            </div>
        </div>
    </div>
    <div class="about_block_wr" id="about">
        <div class="block_inner">
            <h2 class="title">Über uns</h2>
            <div class="inner">
                <div class="top_text">I&I Consulting GmbH ist ein deutsches Buchhaltungsunternehmen mit Sitz in Berlin. Wir sind Teil eines maltesischen Finanzholdingunternehmens, das Geschäfts- und Verwaltungsdienstleistungen für Unternehmen in ganz Europa anbietet.</div>
                <div class="bottom_text">
                    <p>Unser Team ist auf Buchhaltung, Unternehmensgründung und die Digitalisierung von Finanzprozessen spezialisiert. Wir arbeiten mit kleinen und mittleren Unternehmen, Start-ups und Selbstständigen, die Wert auf Transparenz und digitale Lösungen legen.</p>
                    <p>Als Teil eines europäischen Netzwerks bieten wir unseren Mandanten nicht nur lokale, sondern auch grenzüberschreitende Lösungen – effizient, gesetzeskonform und technologisch fortschrittlich.</p>
                </div>
            </div>
            <div class="image">
                <img src="files/ab.png" alt="">
            </div>
        </div>
    </div>
    <div class="partner_block">
        <div class="block_inner">
            <h2 class="title">Partner</h2>
            <div class="inner">
                <div class="swiper mySwiper_images" data-id="mySwiper_images" data-arrow="images">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="files/slid.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Название</div>
                                <div class="text">I&I Consulting GmbH ist ein deutsches Buchhaltungsunternehmen mit Sitz in Berlin. Wir sind Teil eines maltesischen Finanzholdingunternehmens, das Geschäfts- und Verwaltungsdienstleistungen für Unternehmen in ganz Europa anbietet. </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="files/slid.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Название</div>
                                <div class="text">I&I Consulting GmbH ist ein deutsches Buchhaltungsunternehmen mit Sitz in Berlin. Wir sind Teil eines maltesischen Finanzholdingunternehmens, das Geschäfts- und Verwaltungsdienstleistungen für Unternehmen in ganz Europa anbietet. </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="files/slid.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Название</div>
                                <div class="text">I&I Consulting GmbH ist ein deutsches Buchhaltungsunternehmen mit Sitz in Berlin. Wir sind Teil eines maltesischen Finanzholdingunternehmens, das Geschäfts- und Verwaltungsdienstleistungen für Unternehmen in ganz Europa anbietet. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper_arrow">
                    <div class="swiper_arrow_btn swiper-images-prev"></div>
                    <div class="swiper_arrow_btn swiper-images-next"></div>
                </div>
            </div>
        </div>
    </div>                                                          
include _footer.jade